{% extends 'base.html' %}
{% block content %}
<h1>{{ playlist.strPlaylistName }}</h1>
<p>{{ playlist.memPlaylistDescription }}</p>
<h2>Tracks</h2> 
<a href="{% url 'add_tracks' playlist.klngPlaylistID %}" class="btn btn-secondary btn-sm">Add playlist</a>
    


<table id="playlist-table" class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Sequence</th>
            <th>Exercise</th>
            <th>Collection</th>
            <th>Track Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Track Length</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist_track in playlist_tracks %}
            <tr>
                <td>
                    <a href="{% url 'track_edit' playlist_track.pk %}?p={{ playlist.klngPlaylistID }}" class="edit-btn">
                      <i class="material-icons">edit</i>
                    </a>
                    <a href="{% url 'track_delete' playlist_track.pk %}" class="delete-btn">
                      <i class="material-icons">delete</i>
                    </a>
                </td>
                <td>{{ playlist_track.sequence_order }}</td>
                <td>{{ playlist_track.track.strRefTrCIMEB }}</td>
                <td>{{ playlist_track.exercise.strExerciseEN }}</td>
                <td>{{ playlist_track.track.strTrackTitle }}</td>
                <td>{{ playlist_track.track.strArtist }}</td>
                <td>{{ playlist_track.track.strAlbum }}</td>
                <td>{{ playlist_track.track.durTrackLength }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
